Mushroom-IoT/Node-RED/flows.json
[{"id":"156cec94.edc4c3","type":"tab","label":"Map","disabled":false,"info":""},{"id":"5ac8c535.01774c","type":"tab","label":"Mushroom","disabled":false,"info":""},{"id":"265b2ed8.601222","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"6fc8e898.b32988","type":"ui_group","name":"Devices State","tab":"d214e78.e525218","order":1,"disp":true,"width":"9","collapse":false},{"id":"d214e78.e525218","type":"ui_tab","name":"Mushroom","icon":"dashboard","disabled":false,"hidden":false},{"id":"4ec9b901.59ae88","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6b68c026.9c58a","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9171f342.126b4","type":"ui_group","name":"Sensors Data","tab":"d214e78.e525218","order":2,"disp":true,"width":"9","collapse":false},{"id":"d8596899.c56458","type":"ui_group","name":"Default","tab":"ae47cffa.963c78","order":1,"disp":true,"width":"6","collapse":false},{"id":"ae47cffa.963c78","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"ca2272c3.e8396","type":"ui_group","name":"Group 1","tab":"d9bf7560.df5e58","order":1,"disp":true,"width":6},{"id":"d9bf7560.df5e58","type":"ui_tab","name":"Test","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"877e20ce.56db","type":"function","z":"156cec94.edc4c3","name":"","func":"var imageBounds = [[20.97052559402639815,105.45404442829773473], [20.97314297868867072,105.45875820162315506]];\nmsg.payload = { command : { lat:20.97082559402639815, lon:105.45604442829773473, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Vegetable\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.97052559402639815,105.45404442829773473,20.97314297868867072,105.45875820162315506&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=RauDaiNgan_transparent_mosaic_group1&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":120,"wires":[["a8a8ef72.77e7f"]]},{"id":"17396ddb.290db2","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"sensor/mushroom/001","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":160,"y":240,"wires":[["48b7139e.b6e52c"]]},{"id":"48b7139e.b6e52c","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":380,"y":240,"wires":[["2107fafd.f24ed6","a2772b97.ed7518","aa7f9652.738db8"]]},{"id":"2107fafd.f24ed6","type":"function","z":"5ac8c535.01774c","name":"temperature","func":"var msg2 = {};\n\nmsg2.payload=msg.payload.t;\nmsg2.topic = 'Temperature';\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":100,"wires":[["b553817b.011da"]]},{"id":"a2772b97.ed7518","type":"function","z":"5ac8c535.01774c","name":"humidity","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.h;\nmsg1.topic = 'Humidity';\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["b553817b.011da"]]},{"id":"aa7f9652.738db8","type":"function","z":"5ac8c535.01774c","name":"water temperature","func":"var msg3 = {};\n\nmsg3.payload=msg.payload.tW;\nmsg3.topic = 'Water Humidity';\n\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":340,"wires":[["b553817b.011da"]]},{"id":"b553817b.011da","type":"ui_chart","z":"5ac8c535.01774c","name":"sensors data","group":"9171f342.126b4","order":17,"width":"8","height":"6","label":"Sensors Data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":940,"y":220,"wires":[[]]},{"id":"23bc7279.fd195e","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/pump1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":500,"wires":[["1e0d0042.5d078"]]},{"id":"2605fb62.ae8034","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/fan1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":130,"y":600,"wires":[["55986f90.7cf1f"]]},{"id":"18b56e3b.011672","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/light1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":130,"y":720,"wires":[["bc8f2e.970890d"]]},{"id":"1e0d0042.5d078","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":500,"wires":[["519e2aae.faf0e4"]]},{"id":"519e2aae.faf0e4","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"p1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":500,"wires":[["c3ef4919.349908"]]},{"id":"c3ef4919.349908","type":"ui_text","z":"5ac8c535.01774c","group":"6fc8e898.b32988","order":1,"width":"8","height":"1","name":"pump","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":500,"wires":[]},{"id":"55986f90.7cf1f","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":600,"wires":[["6ca63073.994e5"]]},{"id":"bc8f2e.970890d","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":720,"wires":[["bb0585ae.831438"]]},{"id":"6ca63073.994e5","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"f1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":600,"wires":[["8c1c90b7.f2809"]]},{"id":"bb0585ae.831438","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"l1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":720,"wires":[["86c4f364.3536b"]]},{"id":"8c1c90b7.f2809","type":"ui_text","z":"5ac8c535.01774c","group":"6fc8e898.b32988","order":3,"width":"8","height":"1","name":"fan","label":"Light","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":600,"wires":[]},{"id":"86c4f364.3536b","type":"ui_text","z":"5ac8c535.01774c","group":"6fc8e898.b32988","order":5,"width":"8","height":"1","name":"light","label":"Fan","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":720,"wires":[]},{"id":"f8aaade4.ecec4","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/pump1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":410,"y":860,"wires":[]},{"id":"fbeee10b.05122","type":"ui_switch","z":"5ac8c535.01774c","name":"fan control","label":"Light Control","tooltip":"","group":"6fc8e898.b32988","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"f1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"f0\"} ","offvalueType":"json","officon":"","offcolor":"","x":130,"y":960,"wires":[["31298665.aa6c9a"]]},{"id":"31298665.aa6c9a","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/fan1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":390,"y":960,"wires":[]},{"id":"67ef395a.e88778","type":"ui_switch","z":"5ac8c535.01774c","name":"light control","label":"Fan Control","tooltip":"","group":"6fc8e898.b32988","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"l1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"l0\"} ","offvalueType":"json","officon":"","offcolor":"","x":130,"y":1060,"wires":[["40eed22d.0f9dfc"]]},{"id":"40eed22d.0f9dfc","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/light1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":400,"y":1060,"wires":[]},{"id":"37556621.71e81a","type":"ui_switch","z":"5ac8c535.01774c","name":"pumb control","label":"Pump Control","tooltip":"","group":"6fc8e898.b32988","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"p1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"p0\"} ","offvalueType":"json","officon":"","offcolor":"","x":140,"y":860,"wires":[["f8aaade4.ecec4"]]},{"id":"31a60c8d.096094","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/temp1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":800,"wires":[["c022c38d.e331e"]]},{"id":"c022c38d.e331e","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":360,"y":800,"wires":[["cbc67a74.b9d488"]]},{"id":"cbc67a74.b9d488","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"t1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":800,"wires":[["68909ac7.7fbd54"]]},{"id":"68909ac7.7fbd54","type":"ui_text","z":"5ac8c535.01774c","group":"6fc8e898.b32988","order":7,"width":"8","height":"1","name":"heating","label":"Heating","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":800,"wires":[]},{"id":"508949e8.6f6878","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/temp1","qos":"","retain":"","broker":"6b68c026.9c58a","x":410,"y":1140,"wires":[]},{"id":"502b67b.31efc98","type":"ui_switch","z":"5ac8c535.01774c","name":"","label":"Heating Control","tooltip":"","group":"6fc8e898.b32988","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"t1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"t0\"} ","offvalueType":"json","officon":"","offcolor":"","x":120,"y":1140,"wires":[["508949e8.6f6878"]]},{"id":"55ba55e7.7080ec","type":"inject","z":"156cec94.edc4c3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":820,"wires":[["baa7b19c.ad90f"]]},{"id":"baa7b19c.ad90f","type":"function","z":"156cec94.edc4c3","name":"","func":"msg.payload = { \"name\":\"Jason\", \"lat\":20.97052559402639815, \"lon\":105.45404442829773473,\n                \"icon\":\":smile:\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":800,"wires":[["6b02ef01.db14"]]},{"id":"727da5e9.949b0c","type":"mqtt in","z":"156cec94.edc4c3","name":"","topic":"UAV/flying","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":920,"wires":[["a0ba4d19.5798"]]},{"id":"a0ba4d19.5798","type":"json","z":"156cec94.edc4c3","name":"","property":"payload","action":"","pretty":false,"x":590,"y":920,"wires":[["bd37b04d.8cfc2"]]},{"id":"bd37b04d.8cfc2","type":"function","z":"156cec94.edc4c3","name":"","func":"var msg1 = {};\nmsg1.payload = { \"name\":\"Super Man\", \"lat\":msg.payload.lat, \"lon\":msg.payload.lon,\n                \"icon\":\":flying_saucer:\"}\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":940,"wires":[["6b02ef01.db14"]]},{"id":"bd37a790.080a48","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"6fc8e898.b32988","order":12,"width":0,"height":0,"passthru":true,"label":"  <a target=\"_blank\" href=\"http://citlab.myftp.org:1880/worldmap/\">View Vegetable</a>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":400,"y":200,"wires":[["d89d1c49.32415"]]},{"id":"89b22925.6a5a68","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"6fc8e898.b32988","order":10,"width":0,"height":0,"passthru":false,"label":" <a target=\"_blank\" href=\"http://citlab.myftp.org:1880/farm/\">View Huy's Farm</a>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":360,"y":340,"wires":[["54a39c6e.62e154"]]},{"id":"e1e01a0c.d44798","type":"function","z":"156cec94.edc4c3","name":"","func":"var imageBounds = [[20.978983,106.299953], [20.980153,106.300958]];\nmsg.payload = { command : { lat:20.978983, lon:106.299953, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Huy's Farm\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.978983,106.299953,20.980153,106.300958&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=HaiDuong-RedEdge_rgba_ndvi&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":300,"wires":[["5e76e483.5ee77c"]]},{"id":"19ce6070.43bca","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"6fc8e898.b32988","order":11,"width":0,"height":0,"passthru":false,"label":"<a target=\"_blank\" href=\"http://citlab.myftp.org:1880/MapIR/\">View MapIR Example</a>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":350,"y":540,"wires":[["a0093004.88188"]]},{"id":"35dce7b6.676608","type":"function","z":"156cec94.edc4c3","name":"","func":"var imageBounds = [[33.014550,-115.670046], [33.020125,-115.663899]];\nmsg.payload = { command : { lat:33.014550, lon:-115.670046, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"MapIR Example\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=33.014550,-115.670046,33.020125,-115.663899&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=MapIR_rgba_ndvi_mapir&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":440,"wires":[["4a4b52b7.34554c"]]},{"id":"2f8ab192.592d1e","type":"debug","z":"156cec94.edc4c3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":60,"wires":[]},{"id":"d89d1c49.32415","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":120,"wires":[["877e20ce.56db"]]},{"id":"54a39c6e.62e154","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":260,"wires":[["e1e01a0c.d44798"]]},{"id":"a0093004.88188","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":420,"wires":[["35dce7b6.676608"]]},{"id":"4172228b.32885c","type":"ui_button","z":"156cec94.edc4c3","name":"","group":"6fc8e898.b32988","order":11,"width":0,"height":0,"passthru":false,"label":"<a target=\"_blank\" href=\"http://citlab.myftp.org:1880/Villa/\">View Villa</a>","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":300,"y":720,"wires":[["f6502.9fdedafe8"]]},{"id":"f6502.9fdedafe8","type":"delay","z":"156cec94.edc4c3","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":620,"y":620,"wires":[["10e94ca4.176dd3"]]},{"id":"10e94ca4.176dd3","type":"function","z":"156cec94.edc4c3","name":"","func":"var imageBounds = [[20.990508,105.484978], [20.99212,105.486876]];\nmsg.payload = { command : { lat:20.990508, lon:105.484978, zoom:18 } }\nmsg.payload.command.map = {\n    overlay: \"Villa\",\n    url: 'http://citlab.myftp.org:8000/cgi-bin/qgis_mapserv.fcgi?SERVICE=WMS&REQUEST=GetMap&VERSION=1.3.0&SRS=EPSG:4326&BBOX=20.990508,105.484978,20.99212,105.486876&MAP=/home/citlab/qgis/test1.qgz&WIDTH=1000&HEIGHT=1000&LAYERS=xanhvillas_rgba_vari&FORMAT=image/png&TRANSPARENT=TRUE',\n    bounds: imageBounds,\n    opt: { opacity:0.8, attribution:\"&copy; CITLAB-IoT System\" }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":600,"wires":[["5dffd8fc.ba99b8"]]},{"id":"5dffd8fc.ba99b8","type":"worldmap","z":"156cec94.edc4c3","name":"Villa","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/Villa","x":1130,"y":720,"wires":[]},{"id":"4a4b52b7.34554c","type":"worldmap","z":"156cec94.edc4c3","name":"MapIR","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/MapIR","x":1190,"y":540,"wires":[]},{"id":"5e76e483.5ee77c","type":"worldmap","z":"156cec94.edc4c3","name":"Farm","lat":"","lon":"","zoom":"","layer":"Esri Satellite","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/farm","x":1170,"y":300,"wires":[]},{"id":"a8a8ef72.77e7f","type":"worldmap","z":"156cec94.edc4c3","name":"Vegetable","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1140,"y":180,"wires":[]},{"id":"6b02ef01.db14","type":"worldmap","z":"156cec94.edc4c3","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1230,"y":880,"wires":[]}]