Mushroom-IoT/Node-RED/mushroom.json
[{"id":"5ac8c535.01774c","type":"tab","label":"Mushroom","disabled":false,"info":""},{"id":"17396ddb.290db2","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"sensor/mushroom/001","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":160,"y":240,"wires":[["48b7139e.b6e52c"]]},{"id":"48b7139e.b6e52c","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":380,"y":240,"wires":[["2107fafd.f24ed6","a2772b97.ed7518","aa7f9652.738db8"]]},{"id":"2107fafd.f24ed6","type":"function","z":"5ac8c535.01774c","name":"temperature","func":"var msg2 = {};\n\nmsg2.payload=msg.payload.t;\nmsg2.topic = 'Temperature';\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":100,"wires":[["b553817b.011da"]]},{"id":"a2772b97.ed7518","type":"function","z":"5ac8c535.01774c","name":"humidity","func":"var msg1 = {};\n\nmsg1.payload=msg.payload.h;\nmsg1.topic = 'Humidity';\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":200,"wires":[["b553817b.011da"]]},{"id":"aa7f9652.738db8","type":"function","z":"5ac8c535.01774c","name":"water temperature","func":"var msg3 = {};\n\nmsg3.payload=msg.payload.tW;\nmsg3.topic = 'Water Humidity';\n\nreturn msg3;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":340,"wires":[["b553817b.011da"]]},{"id":"b553817b.011da","type":"ui_chart","z":"5ac8c535.01774c","name":"sensors data","group":"9171f342.126b4","order":17,"width":"8","height":"6","label":"Sensors Data","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"15","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":940,"y":220,"wires":[[]]},{"id":"23bc7279.fd195e","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/pump1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":500,"wires":[["1e0d0042.5d078"]]},{"id":"2605fb62.ae8034","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/fan1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":130,"y":600,"wires":[["55986f90.7cf1f"]]},{"id":"18b56e3b.011672","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/light1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":130,"y":720,"wires":[["bc8f2e.970890d"]]},{"id":"1e0d0042.5d078","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":500,"wires":[["519e2aae.faf0e4"]]},{"id":"519e2aae.faf0e4","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"p1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":500,"wires":[["c3ef4919.349908"]]},{"id":"c3ef4919.349908","type":"ui_text","z":"5ac8c535.01774c","group":"6fc8e898.b32988","order":1,"width":"8","height":"1","name":"pump","label":"Pump","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":500,"wires":[]},{"id":"55986f90.7cf1f","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":600,"wires":[["6ca63073.994e5"]]},{"id":"bc8f2e.970890d","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":370,"y":720,"wires":[["bb0585ae.831438"]]},{"id":"6ca63073.994e5","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"f1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":600,"wires":[["8c1c90b7.f2809"]]},{"id":"bb0585ae.831438","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"l1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":720,"wires":[["86c4f364.3536b"]]},{"id":"8c1c90b7.f2809","type":"ui_text","z":"5ac8c535.01774c","group":"6fc8e898.b32988","order":3,"width":"8","height":"1","name":"fan","label":"Light","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":600,"wires":[]},{"id":"86c4f364.3536b","type":"ui_text","z":"5ac8c535.01774c","group":"6fc8e898.b32988","order":5,"width":"8","height":"1","name":"light","label":"Fan","format":"{{msg.payload}}","layout":"row-spread","x":810,"y":720,"wires":[]},{"id":"f8aaade4.ecec4","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/pump1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":410,"y":860,"wires":[]},{"id":"fbeee10b.05122","type":"ui_switch","z":"5ac8c535.01774c","name":"fan control","label":"Light Control","tooltip":"","group":"6fc8e898.b32988","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"f1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"f0\"} ","offvalueType":"json","officon":"","offcolor":"","x":130,"y":960,"wires":[["31298665.aa6c9a"]]},{"id":"31298665.aa6c9a","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/fan1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":390,"y":960,"wires":[]},{"id":"67ef395a.e88778","type":"ui_switch","z":"5ac8c535.01774c","name":"light control","label":"Fan Control","tooltip":"","group":"6fc8e898.b32988","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"l1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"l0\"} ","offvalueType":"json","officon":"","offcolor":"","x":130,"y":1060,"wires":[["40eed22d.0f9dfc"]]},{"id":"40eed22d.0f9dfc","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/light1","qos":"2","retain":"","broker":"6b68c026.9c58a","x":400,"y":1060,"wires":[]},{"id":"37556621.71e81a","type":"ui_switch","z":"5ac8c535.01774c","name":"pumb control","label":"Pump Control","tooltip":"","group":"6fc8e898.b32988","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"p1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"p0\"} ","offvalueType":"json","officon":"","offcolor":"","x":140,"y":860,"wires":[["f8aaade4.ecec4"]]},{"id":"31a60c8d.096094","type":"mqtt in","z":"5ac8c535.01774c","name":"","topic":"garden1/temp1","qos":"2","datatype":"auto","broker":"6b68c026.9c58a","x":140,"y":800,"wires":[["c022c38d.e331e"]]},{"id":"c022c38d.e331e","type":"json","z":"5ac8c535.01774c","name":"","property":"payload","action":"","pretty":false,"x":360,"y":800,"wires":[["cbc67a74.b9d488"]]},{"id":"cbc67a74.b9d488","type":"function","z":"5ac8c535.01774c","name":"","func":"if(msg.payload.status===\"t1\") msg.payload=\"ON\";\nelse msg.payload=\"OFF\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":800,"wires":[["68909ac7.7fbd54"]]},{"id":"68909ac7.7fbd54","type":"ui_text","z":"5ac8c535.01774c","group":"6fc8e898.b32988","order":7,"width":"8","height":"1","name":"heating","label":"Heating","format":"{{msg.payload}}","layout":"row-spread","x":820,"y":800,"wires":[]},{"id":"508949e8.6f6878","type":"mqtt out","z":"5ac8c535.01774c","name":"","topic":"garden1/temp1","qos":"","retain":"","broker":"6b68c026.9c58a","x":410,"y":1140,"wires":[]},{"id":"502b67b.31efc98","type":"ui_switch","z":"5ac8c535.01774c","name":"","label":"Heating Control","tooltip":"","group":"6fc8e898.b32988","order":16,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\" : \"t1\"} ","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"status\" : \"t0\"} ","offvalueType":"json","officon":"","offcolor":"","x":120,"y":1140,"wires":[["508949e8.6f6878"]]},{"id":"6b68c026.9c58a","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9171f342.126b4","type":"ui_group","name":"Sensors Data","tab":"d214e78.e525218","order":2,"disp":true,"width":"9","collapse":false},{"id":"6fc8e898.b32988","type":"ui_group","name":"Devices State","tab":"d214e78.e525218","order":1,"disp":true,"width":"9","collapse":false},{"id":"d214e78.e525218","type":"ui_tab","name":"Mushroom","icon":"dashboard","disabled":false,"hidden":false}]
